LAB 4:- SQLITE, SQLALCHEMY, AND NoSQL

OBJECTIVES:-

1. Learn the differences between relational databases (SQLite/SQLAlchemy) and NoSQL databases (MongoDB/PyMongo).

2. Perform basic CRUD operations (Create, Read, Update, Delete) using each database type.

SQLite:-

- A compact, server-free database that stores all data in a single file.

- Suitable for small-scale projects or quick prototypes, where simplicity and portability are important.

In [3]:
import sqlite3

# Connect to (or create) the database
conn = sqlite3.connect('1example.db')
cursor = conn.cursor()

# Create table with all SQLite data types
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS USERS(
        id INTEGER PRIMARY KEY,   -- Whole number, auto-incremented
        name TEXT NOT NULL,       -- Text string
        age INTEGER,              -- Whole number
        salary REAL,              -- Floating-point number
        is_active BOOLEAN,        -- Boolean (0 or 1)
        bio TEXT,                 -- Large text
        join_date DATETIME,       -- Date and time stored as TEXT
        profile_picture BLOB,     -- Binary data
        misc_data NUMERIC,        -- Numeric value, flexible
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP  -- Timestamp
    )
    """
)

# Insert example data
cursor.execute(
    """INSERT INTO users(name,age,salary,is_active,bio,join_date,profile_picture,misc_data)
       VALUES(?,?,?,?,?,?,?,?)""",
    ("Alice", 30, 55000.50, 1, "Software engineer", "2026-01-05 05:00:00", None, 123.45)
)

# Commit changes
conn.commit()

# Query the table
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close connection after all operations only.
# conn.close()

(1, 'Alice', 30, 55000.5, 1, 'Software engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-27 18:06:57')
(2, 'Alice', 30, 55000.5, 1, 'Software engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-27 18:07:29')
(3, 'Alice', 30, 55000.5, 1, 'Software engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-27 18:07:49')

In [4]:
#Update salary for a user
cursor.execute("UPDATE users SET salary=? WHERE name=?",(70000.00,"Alice"))
print("\nAfter updating Alice's salary:")
cursor.execute("SELECT * FROM users WHERE name='Alice'")
print(cursor.fetchone())

After updating Alice's salary:
(1, 'Alice', 30, 70000.0, 1, 'Software engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-27 18:06:57')

In [5]:
#Delete a user
cursor.execute("DELETE FROM users WHERE name=?",("Bob",))
print("\nAfter deleting Bob:")
cursor.execute("SELECT * FROM users")
row=cursor.fetchall()
for row in rows:
    print(row)

After deleting Bob:
(1, 'Alice', 30, 55000.5, 1, 'Software engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-27 18:06:57')
(2, 'Alice', 30, 55000.5, 1, 'Software engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-27 18:07:29')
(3, 'Alice', 30, 55000.5, 1, 'Software engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-27 18:07:49')

SQLALCHEMY:-

- A Python ORM (Object Relational Mapper) that connects Python classes with relational database tables.

- Enables developers to work with Python objects instead of writing raw SQL queries.

- Helps maintain cleaner, more readable code and simplifies database schema management.

- Provides abstraction over SQL, making database operations easier and more consistent across different database engines.

In [8]:
from sqlalchemy import create_engine,Column,Integer,String
from sqlalchemy.orm import declarative_base,sessionmaker
#Setup the connection
engine=create_engine('sqlite:///data.db')
Base=declarative_base()
#Define a table.
class User(Base):
    __tablename__='users'
    id=Column(Integer,primary_key=True)
    name=Column(String)
#Create table in db.
Base.metadata.create_all(engine)
#Interact with data
Session=sessionmaker(bind=engine)
session=Session()

new_user=User(name="BE Computer")
session.add(new_user)
session.commit()

INSERTION OF MULTIPLE ROWS:-

In [9]:
from sqlalchemy import create_engine,Column,Integer,String
from sqlalchemy.orm import declarative_base,sessionmaker
#Setup the connection
engine=create_engine('sqlite:///data2.db')
Base=declarative_base()
#Define a table.
class User(Base):
    __tablename__='users'
    id=Column(Integer,primary_key=True)
    name=Column(String)
    email=Column(String)
    course=Column(String)
#Create table in db.
Base.metadata.create_all(engine)
#Interact with data
Session=sessionmaker(bind=engine)
session=Session()
#Multiple rows
users=[
     User(name="BE Computer",email="be@ncit.edu",course="Engineering"),
     User(name="BSc CSIT",email="csit@ncit.edu",course="Science"),
     User(name="BIT",email="bit@ncit.edu",course="IT"),
]
session.add_all(users)
session.commit()

INSERTION OF SINGLE ROW WITH MULTIPLE COLUMNS:-

In [10]:
user=User(
    name="BE Software",
    email="software@ncit.edu",
    course="Engineering"
)

FETCH MULTIPLE ROWS AND COLUMNS:-

In [11]:
all_users=session.query(User).all()
for user in all_users:
    print(user.id,user.name,user.email,user.course)

1 BE Computer be@ncit.edu Engineering
2 BSc CSIT csit@ncit.edu Science
3 BIT bit@ncit.edu IT

In [12]:
user=session.query(User).filter_by(name='BIT').first()
print(user.name,user.email)

BIT bit@ncit.edu

UPDATE ONE ROW:-

In [13]:
user=session.query(User).filter_by(name='BIT').first()
user.course="Information Technology"
session.commit()
print(session.query(User).filter_by(name='BIT').first().course)

Information Technology

UPDATE MULTIPLE ROWS:-

In [14]:
session.query(User).filter(User.course=="Engineering")\
    .update({"course":"BE Engineering"})
session.commit()
for u in session.query(User).all():
    print(u.id, u.name, u.course)

1 BE Computer BE Engineering
2 BSc CSIT Science
3 BIT Information Technology

DELETE ONE ROW:-

In [15]:
user = session.query(User).filter_by(name='BSc CSIT').first()
session.delete(user)
session.commit()

DELETE MULTIPLE ROWS:-

In [16]:
session.query(User).filter(User.course=="IT").delete()
session.commit()

NoSQL:-

- A type of database that organizes data in documents instead of tables, allowing more flexible structures.

- Stores information in a JSON-like format, so each entry can have different fields or nested data.

- PyMongo is the Python library used to connect, insert, update, and query MongoDB data.

In [18]:
from pymongo import MongoClient
#Connect to the server
client=MongoClient('mongodb://localhost:27017/')
#Access db and collection
db=client['my_database']
users=db['users_collection']
#Insert a Python Dictionary
users.insert_one({"id":1,"name":"Alice","skills":["Python","AI"]})
#Query data
result=users.find_one({"name":"Alice"})
print(result)

{'_id': ObjectId('6979029433d036609b477f49'), 'id': 1, 'name': 'Alice', 'skills': ['Python', 'AI']}

In [19]:
from pymongo import MongoClient
#Connect to the server
client=MongoClient('mongodb://localhost:27017/')
#Access db and collection
db=client['my_database']
users=db['users_collection']
#Create(Insert)
#Single document
users.insert_one({
    "id":1,
    "name":"Alice",
    "age":30,
    "salary":55000.50,
    "is_active":True,
    "bio":"Software engineer",
    "skills":["Python","AI"],
    "join_date":"2026-01-05"
})
#Multiple documents
users_to_insert=[
    {"id":2,"name":"Bob","age":28,"salary":48000.00,"is_active":False,"bio":"Data analyst",
     "skills":["SQL","Excel"],"join_date":"2026-01-04"},
     
    {"id":3,"name":"Charlie","age":35,"salary":62000.75,"is_active":True,"bio":"Project manager",
     "skills":["Management","Leadership"],"join_date":"2026-01-03"}
]
users.insert_many(users_to_insert)
#Read(Find)
#Find all users
print("All users:")
for user in users.find():
    print(user)
#Find one user
alice=users.find_one({"name":"Alice"})
print("\nFind Alice:")
print(alice)

All users:
{'_id': ObjectId('6979029433d036609b477f49'), 'id': 1, 'name': 'Alice', 'skills': ['Python', 'AI']}
{'_id': ObjectId('697902c533d036609b477f4b'), 'id': 1, 'name': 'Alice', 'age': 30, 'salary': 55000.5, 'is_active': True, 'bio': 'Software engineer', 'skills': ['Python', 'AI'], 'join_date': '2026-01-05'}
{'_id': ObjectId('697902c533d036609b477f4c'), 'id': 2, 'name': 'Bob', 'age': 28, 'salary': 48000.0, 'is_active': False, 'bio': 'Data analyst', 'skills': ['SQL', 'Excel'], 'join_date': '2026-01-04'}
{'_id': ObjectId('697902c533d036609b477f4d'), 'id': 3, 'name': 'Charlie', 'age': 35, 'salary': 62000.75, 'is_active': True, 'bio': 'Project manager', 'skills': ['Management', 'Leadership'], 'join_date': '2026-01-03'}

Find Alice:
{'_id': ObjectId('6979029433d036609b477f49'), 'id': 1, 'name': 'Alice', 'skills': ['Python', 'AI']}

In [20]:
#Update Alice's salary
users.update_one({"name":"Alice"},{"$set":{"salary":70000}})
print("\nAfter updating Alice's salary:")
print(users.find_one({"name":"Alice"}))

After updating Alice's salary:
{'_id': ObjectId('6979029433d036609b477f49'), 'id': 1, 'name': 'Alice', 'skills': ['Python', 'AI'], 'salary': 70000}

In [21]:
#Delete Bob
users.delete_one({"namr":"Bob"})
print("\nAfter deleting Bob:")
for user in users.find():
    print(user)

After deleting Bob:
{'_id': ObjectId('6979029433d036609b477f49'), 'id': 1, 'name': 'Alice', 'skills': ['Python', 'AI'], 'salary': 70000}
{'_id': ObjectId('697902c533d036609b477f4b'), 'id': 1, 'name': 'Alice', 'age': 30, 'salary': 55000.5, 'is_active': True, 'bio': 'Software engineer', 'skills': ['Python', 'AI'], 'join_date': '2026-01-05'}
{'_id': ObjectId('697902c533d036609b477f4c'), 'id': 2, 'name': 'Bob', 'age': 28, 'salary': 48000.0, 'is_active': False, 'bio': 'Data analyst', 'skills': ['SQL', 'Excel'], 'join_date': '2026-01-04'}
{'_id': ObjectId('697902c533d036609b477f4d'), 'id': 3, 'name': 'Charlie', 'age': 35, 'salary': 62000.75, 'is_active': True, 'bio': 'Project manager', 'skills': ['Management', 'Leadership'], 'join_date': '2026-01-03'}

DISCUSSION AND CONCLUSION:-

This lab showed how different databases serve different needs. SQLite is lightweight and easy for small projects but has a fixed schema. SQLAlchemy allows object-oriented access to relational databases, improving readability, though schema changes need migrations. MongoDB/PyMongo offers flexible, JSON-like documents suitable for scalable and evolving data but requires careful management. CRUD operations across all three highlighted their strengths and limitations, showing that the choice depends on whether a project prioritizes simplicity, structure, or flexibility.